/* General Styles */
body {
    background-color: #006064;
    font-family: monospace;
}

#about {
    margin: 10px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-name {
    background-color: #B2EBF2;
    border-radius: 24px;
    text-align: center;
    font-size: x-large;
}

.about-container {
    height: 250px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-info {
    background-color: #B2EBF2;
    border-radius: 24px;
    height: 175px;
    line-height: 1.5em;
    text-align: left;
    font-size: larger;
    padding: 20px;
    overflow-y: auto;
}

.about-social {
    background-color: #B2EBF2;
    border-radius: 24px;
    height: 175px;;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.about-image {
    height: 175px;
}

.about-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#projects {
    margin: 10px 200px;
}

#projects h2 {
    color: white;
}

.slider-container {
    display: flex;
    overflow-x: auto;
}

.projects-container {
    display: flex;
    gap: 15px;
}

.project {
    background-color: #B2EBF2;
    border-radius: 24px;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.project h4 {
    text-decoration: underline;
}

.project a {
    text-decoration: none;
}

.project img {
    width: 275px;
    height: 140px;
    border-radius: 24px;
    opacity: 75%;
    object-fit: cover;
    padding: 10px;
}

#experience {
    margin: 10px 200px;
}

#experience h2 {
    color: white;
}

.experience {
    background-color: #B2EBF2;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

.experience img {
    width: 200px;
    height: 200px;
    border-radius: 24px;
    opacity: 75%;
    object-fit: cover;
    padding: 10px;
}

.experience-text {
    padding: 0px 50px;

}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#skills {
    margin: 10px 200px;
}

#skills h2 {
    color: white;
}

.skills-container {
    background-color: #B2EBF2;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}

@media (max-width: 1024px) {
    #about {
        margin: 10px 100px;
    }

    .about-info {
        height: 235px;
        padding: 10px 20px;
    }

    .about-social {
        padding: 10px;
        height: 235px;
    }
}

@media (max-width: 768px) {
    #about {
        margin: 10px 50px;
    }

    .about-img img {
        width: 150px;
        height: 150px;
    }

    #projects {
        margin: 10px 50px;
    }

    #experience {
        margin: 10px 50px;
    }

    #skills {
        margin: 10px 50px;
    }

    .skills-container {
        gap: 25px;
        justify-content: space-between;
    }
}